.default-element {
  width: 45%;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.default-element img {
  width: 30%;
  height: auto;
  border-bottom: 1px solid #000;
}

.text-content p {
  margin: 5px 0;
}

